/**************************************
General Formatting (Leave This Alone!)
**************************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    margin: 0;
}

header,
footer {
    /* centers header and footer content horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
    border: 1px dotted black; 
}

/*****************
Grid Formatting  
*****************/

#wrapper {
    display: grid;
    grid-template-rows: 1fr 2fr 10fr 2fr 1fr;
    grid-template-areas: "header" "navbar" "content" "sidebar" "footer";
    background-color: darksalmon;
}

@media screen and (min-width: 760px) {
    #wrapper {
        display: grid;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-columns: 20% auto 20%;
        grid-template-areas:    "header header header"
                                "navbar content sidebar" 
                                "footer footer footer";
        height: 100vh;
        max-width: 1200px;
        margin: auto;
    }   
}

header {
    grid-area: header;
}

nav {
    grid-area: navbar;
}

article {
    grid-area: content;
    background-color: inherit;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}